.full-screen-background {
  height: 100vh;
  width: 100vw;
  background-color: #616161; }

.full-screen {
  overflow: scroll;
  background-color: #F5F5F5;
  border: none;
  height: 100vh; }
  @media screen and (min-width: 768px) {
    .full-screen {
      height: 90vh;
      border: 1vh #9E9E9E solid;
      margin-top: 5vh; } }

.landing-page button {
  margin-top: 2vh;
  margin-bottom: 1.5vh; }

.landing-page__header {
  margin-top: 2vh; }
  .landing-page__header hr {
    margin: 1px; }
  @media (min-height: 600px) {
    .landing-page__header {
      margin-bottom: 5vh; } }

.landing-page__title {
  text-align: center;
  color: #58bab1;
  font-weight: 700; }

.landing-page__title--main {
  font-size: 5em;
  margin-top: 0.1em; }

.landing-page__title--login {
  font-size: 3em;
  margin: 0.5em 0; }
  @media (min-width: 340px) {
    .landing-page__title--login {
      font-size: 3.2em; } }
  @media (min-height: 600px) {
    .landing-page__title--login {
      margin-bottom: 3vh; } }

.landing-page__logo {
  margin: auto auto; }
  @media (min-width: 768px) {
    .landing-page__logo {
      width: 70%; } }
  @media (max-width: 768px) {
    .landing-page__logo {
      width: 50%; } }
  @media (max-width: 500px) {
    .landing-page__logo {
      width: 60%; } }

.landing-page__login-form {
  background-color: #E0F2F1;
  border: #B2DFDB solid 1.5em;
  border-radius: 0.2em;
  padding: 1.5em;
  text-align: center; }
  .landing-page__login-form h3 {
    font-size: 2em;
    font-weight: 700;
    margin: 0; }
    @media (min-width: 340px) {
      .landing-page__login-form h3 {
        font-size: 2.2em; } }
  .landing-page__login-form h4 {
    font-size: 1em;
    line-height: 1.4; }
    @media (min-width: 340px) {
      .landing-page__login-form h4 {
        font-size: 1.2em; } }
  .landing-page__login-form input {
    margin: 0.5em 0; }

.landing-page__message {
  font-size: 1.2em;
  line-height: 1.4;
  width: 80%;
  margin: auto auto;
  text-align: center; }
  @media (min-width: 340px) {
    .landing-page__message {
      font-size: 1.4em; } }

#loading-gif {
  height: 20px;
  width: 20px; }

.game-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; }

.game-page__button button {
  text-transform: capitalize;
  padding: 0.5em 0;
  font-weight: 400; }

.game-page__image-container {
  margin-bottom: 5vh;
  margin-top: 1vh; }
  .game-page__image-container img {
    border: #B2DFDB solid 5vw;
    border-radius: 0.2em;
    margin: auto auto;
    max-height: 40em; }

.game-page__button-emoji {
  width: 50%;
  margin-left: 25%;
  margin-bottom: 5%; }

.game-page__image--intro {
  padding: 2em; }

.game-page__image-container--intro {
  margin-top: 5vh; }

.intro-page {
  width: 100%;
  height: 100%; }
  .intro-page svg {
    display: block;
    margin: auto auto; }
  @media (min-width: 768px) {
    .intro-page svg {
      height: 87vh; } }
  @media (max-width: 768px) {
    .intro-page svg {
      height: 98vh;
      width: 98%; } }

.intro-page__tutorial {
  display: none; }

.intro-page__speech-bubble {
  background-color: #E0F2F1;
  border: solid 1em #B2DFDB;
  position: absolute;
  margin-top: 10vh;
  height: 10em;
  line-height: 8em;
  text-align: center;
  font-size: 1.6em; }
  .intro-page__speech-bubble span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5; }
  .intro-page__speech-bubble:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 20px 20px 0;
    border-color: #e0f2f1 transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -20px;
    left: 42px; }
  .intro-page__speech-bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 35px 35px 0;
    border-color: #b2dfdb transparent;
    display: block;
    width: 0;
    z-index: 0;
    bottom: -51px;
    left: 27px; }
  @media (min-width: 581px) and (max-width: 768px) {
    .intro-page__speech-bubble:before {
      left: 182px; }
    .intro-page__speech-bubble:after {
      left: 167px; } }
  @media (min-width: 500px) and (max-width: 580px) {
    .intro-page__speech-bubble:before {
      left: 122px; }
    .intro-page__speech-bubble:after {
      left: 107px; } }

.intro-page__modal {
  opacity: 0;
  background-color: #E0F2F1;
  border: solid 0.4em #B2DFDB;
  text-align: center;
  line-height: 4.5em;
  font-size: 1.6em;
  padding: 0.2em 1em;
  margin-bottom: 2em;
  height: 6em; }
  .intro-page__modal span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5; }
  .intro-page__modal:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-color: #B2DFDB transparent;
    display: block;
    width: 0;
    z-index: 0;
    left: 50%;
    margin-left: -19px; }
  .intro-page__modal:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-color: #E0F2F1 transparent;
    display: block;
    width: 0;
    z-index: 1;
    left: 50%;
    margin-left: -15px; }

.intro-page__modal--top-triangle:before {
  border-width: 0 19px 19px;
  top: -24px; }
.intro-page__modal--top-triangle:after {
  border-width: 0 15px 15px;
  top: -15px; }

.intro-page__modal--bottom-triangle:before {
  border-width: 19px 19px 0;
  bottom: -24px; }
.intro-page__modal--bottom-triangle:after {
  border-width: 15px 15px 0;
  bottom: -15px; }

.level-page {
  width: 100%;
  height: 100%;
  position: relative; }
  .level-page button {
    margin-bottom: 1em; }

.level-page__conveyer-belts {
  margin-bottom: 20%; }

.gear, .gear-reverse {
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%; }

.cs-loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.cs-loader-inner {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  width: 100%;
  color: #B2DFDB;
  padding: 0 100px;
  text-align: center; }

.cs-loader-inner label {
  font-size: 8em;
  opacity: 0;
  display: inline-block;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #E0F2F1; }
  @media screen and (max-width: 400px) {
    .cs-loader-inner label {
      font-size: 5em; } }
  @media screen and (min-width: 800px) {
    .cs-loader-inner label {
      font-size: 10em; } }

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px); }
  33% {
    opacity: 1;
    transform: translateX(0px); }
  66% {
    opacity: 1;
    transform: translateX(0px); }
  100% {
    opacity: 0;
    transform: translateX(300px); } }
@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px); }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px); }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px); } }
.cs-loader-inner label:nth-child(3) {
  -webkit-animation: lol 3.75s 300ms infinite ease-in-out;
  animation: lol 3.75s 300ms infinite ease-in-out; }

.cs-loader-inner label:nth-child(2) {
  -webkit-animation: lol 3.75s 400ms infinite ease-in-out;
  animation: lol 3.75s 400ms infinite ease-in-out; }

.cs-loader-inner label:nth-child(1) {
  -webkit-animation: lol 3.75s 500ms infinite ease-in-out;
  animation: lol 3.75s 500ms infinite ease-in-out; }

#lifetime-results-page__lifetime-graph {
  width: 100%;
  height: 250px;
  border: 1em solid #B2DFDB;
  margin-top: 10px; }
  #lifetime-results-page__lifetime-graph path {
    fill: none;
    stroke: #616161;
    stroke-width: 3px; }

.lifetime-graph__axis {
  font-size: 1.4em;
  font-family: 'Open Sans', sans-serif; }
  .lifetime-graph__axis path, .lifetime-graph__axis line {
    display: none; }
  .lifetime-graph__axis text {
    fill: #616161; }

.lifetime-graph__dots {
  fill: #E0F2F1;
  stroke: #B2DFDB;
  stroke-width: 3; }

.lifetime-graph__tooltip {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  fill: #616161; }

.lifetime-graph__tooltip--bg {
  stroke: #B2DFDB;
  stroke-width: 2; }

.lifetime-results-page__emotion-results {
  margin-bottom: 10%; }
  .lifetime-results-page__emotion-results h2 {
    margin-bottom: 0px; }
  .lifetime-results-page__emotion-results p {
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 1.4em; }
    @media screen and (max-width: 768px) {
      .lifetime-results-page__emotion-results p {
        font-size: 1.3em; } }

.lifetime-results-page__feedback li {
  font-size: 1.8em;
  line-height: 1.5;
  text-transform: capitalize; }

.emotion {
  border: 1em solid #B2DFDB; }
  .emotion path {
    fill: none;
    stroke: #616161;
    stroke-width: 3px; }

.lifetime-graph__dots-user {
  fill: #E0F2F1;
  stroke: #B2DFDB;
  stroke-width: 3; }

.lifetime-graph__dots-api, .lifetime-graph__dots-no-show {
  fill: #424242;
  stroke: #9E9E9E;
  stroke-width: 3; }

.lifetime-graph__dots-no-show {
  display: none; }

.lifetime-graph__emotion-scale {
  font-size: 1.4em;
  font-family: 'Open Sans', sans-serif;
  fill: #616161; }

.round-results-page__header {
  text-align: center; }

.round-results__hr {
  border-top: #B2DFDB 3px solid;
  opacity: 0.5; }

.round-results-page__result {
  background-color: #E0F2F1;
  border: #B2DFDB solid 0.8em;
  border-radius: 0.2em;
  margin-top: 10%;
  margin-bottom: 10%; }
  .round-results-page__result:first-of-type {
    margin-top: 5%; }
  .round-results-page__result:last-of-type {
    margin-bottom: 10%; }

.round-results-page__result-img {
  border: #E0F2F1 solid 1em;
  border-radius: 0.2em;
  margin-bottom: 5%; }

.round-results-page__result-text {
  background-color: #E0F2F1;
  margin-bottom: 10%;
  font-size: 1.4em;
  font-weight: 400;
  text-align: center; }

.round-results-page__results-comparison {
  text-align: center;
  margin-bottom: 5%;
  background-color: #E0F2F1;
  border: #B2DFDB solid 0.8em;
  border-radius: 0.2em; }
  .round-results-page__results-comparison h2 {
    margin-bottom: 20px !important; }

.results-page__button {
  margin-bottom: 5%; }

.navigator-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; }
  .navigator-page button {
    font-weight: 400; }

body {
  color: #616161;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.5; }

hr {
  border-top: #B2DFDB 5px solid; }

.btn {
  white-space: normal !important;
  background-color: #B2DFDB;
  border: #E0F2F1 solid 0.5em;
  border-radius: 0.2em;
  font-weight: bold;
  color: #484848; }
  .btn:hover, .btn:focus, .btn:active {
    background-color: #a0d8d3;
    border: #ceeae9 solid 0.5em; }

.default-hidden {
  opacity: 0;
  display: none; }

/*# sourceMappingURL=main.css.map */
