body {
  color: #616161;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.5; }

hr {
  border-top: #B2DFDB 5px solid; }

.full-screen-background {
  height: 100vh;
  width: 100vw;
  background-color: #616161; }

.full-screen {
  margin-top: 5vh;
  overflow: scroll;
  height: 90vh;
  border: 1vh #9E9E9E solid;
  background-color: #F5F5F5; }
  @media screen and (max-width: 768px) {
    .full-screen {
      border: none;
      height: 100vh;
      margin: 0; } }

.btn {
  white-space: normal !important;
  word-break: normal;
  word-wrap: break-word;
  background-color: #B2DFDB;
  border: #E0F2F1 solid 0.5em;
  border-radius: 0.2em;
  font-weight: bold;
  color: #484848; }
  .btn:hover, .btn:focus {
    background-color: #a0d8d3;
    border: #ceeae9 solid 0.5em; }

.landing-page button {
  margin-top: 8vh; }

.landing-page__header {
  margin-top: 5vh;
  margin-bottom: 8vh; }
  .landing-page__header hr {
    margin: 0; }

.landing-page__title {
  color: #66938F;
  font-weight: 700;
  font-size: 5em;
  text-align: center;
  margin-top: 0.1em; }

.landing-page__logo {
  width: 30%;
  margin: auto auto; }
  @media screen and (min-width: 540px) and (max-width: 768px) {
    .landing-page__logo {
      width: 20%; } }

.name-form {
  font-size: 1.8em;
  line-height: 1.8em;
  margin-top: 0.2em; }

.intro-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .intro-page button {
    margin-bottom: 4%; }

.intro-page__explanation {
  background-color: #E0F2F1;
  padding: 2em;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 0.2em;
  border: #B2DFDB solid 1.5em;
  font-size: 1.2em; }
  .intro-page__explanation h1 {
    margin-top: 0;
    margin-bottom: 0.4em; }

.intro-page__explanation-p-margin {
  margin-top: 1.5em; }

.intro-page__level-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 5%; }

.intro-page__level-bar--label {
  text-align: center;
  font-size: 1.5em; }

.intro-page__level-bar-component {
  background-color: #E0F2F1;
  border-radius: 0.2em;
  border: #B2DFDB solid 0.5em;
  margin: 0.2em;
  font-size: 1.5em;
  width: 20%;
  text-align: center;
  padding: 0.2em; }
  .intro-page__level-bar-component p {
    line-height: 2;
    margin: 0; }
  .intro-page__level-bar-component:first-of-type {
    margin-left: 0; }

.intro-page__level-bar-component--active {
  background-color: #B2DFDB; }

.game-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; }

.game-page__image-container {
  margin-bottom: 3em; }
  .game-page__image-container img {
    border: #E0F2F1 solid 2.5em;
    border-radius: 0.2em;
    margin: auto auto; }

.game-page__button-emoji {
  width: 50%;
  margin-left: 25%;
  margin-bottom: 2%; }

.round-results-page__header {
  text-align: center; }

.round-results-page__result {
  background-color: #E0F2F1;
  border: #B2DFDB solid 0.8em;
  border-radius: 0.2em;
  margin-top: 10%;
  margin-bottom: 10%; }
  .round-results-page__result:first-of-type {
    margin-top: 5%; }
  .round-results-page__result:last-of-type {
    margin-bottom: 10%; }

.round-results-page__result-img {
  border: #E0F2F1 solid 1em;
  border-radius: 0.2em;
  margin-bottom: 5%; }

.round-results-page__result-text {
  background-color: #E0F2F1;
  margin-bottom: 10%;
  font-size: 1.4em;
  font-weight: 700;
  text-align: center; }

.round-results-page__results-comparison {
  text-align: center;
  margin-bottom: 5%;
  background-color: #E0F2F1;
  border: #B2DFDB solid 0.8em;
  border-radius: 0.2em; }
  .round-results-page__results-comparison h2 {
    margin-bottom: 20px !important; }

.round-results-page__button {
  margin-bottom: 10%; }
  @media screen and (min-width: 768px) {
    .round-results-page__button {
      height: 5em; } }

/*# sourceMappingURL=main.css.map */
