@import 'partials/variables';
@import 'partials/page-background';
@import 'partials/landing-page';
@import 'partials/game-page';
@import 'partials/intro-page';
@import 'partials/level-page';
@import 'partials/loading-page';
@import 'partials/lifetime-results';
@import 'partials/round-results';
@import 'partials/navigator-page';

// Globals
//
body {
  color: $grey-darken-2;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

hr {
  border-top: $teal-darken-1 5px solid;
}

.btn {
  white-space: normal !important;
  // word-break: normal;
  // word-wrap: break-word;
  background-color: $teal-darken-1;
  border: $teal solid 0.5em;
  border-radius: 0.2em;
  font-weight: bold;
  color: darken($grey-darken-2, 10%);
  &:hover, &:focus, &:active {
    background-color: darken($teal-darken-1, 5%);
    border: darken($teal, 5%) solid 0.5em;
  }
}

.default-hidden {
  opacity: 0;
  display: none;
}
