[submodule "uploader"]
	path = uploader
	url = https://github.com/RichAWarren/annaFreudImageUploader
[submodule "imagesToBeRated"]
	path = imagesToBeRated
	url = https://github.com/SimonJStewart/emotionimage.git
[submodule "miniserver"]
	path = miniserver
	url = https://github.com/daymos/miniserver.git
