css/bootstrap.min.css.map
css/bootstrap.css.map
css/bootstrap-theme.min.css.map
css/bootstrap-theme.css.map
css/main.css.map
.sass-cache
session.vim
.DS_Store
*.swp
node_modules
.swp
cordova
!cordova/config.xml
!cordova/platforms/android/build/outputs/apk
