body{
  background: lightblue;
}

.question_panel{
  background-color: yellow;
  height: 300px;
  width: 600px;
  border: 1px solid blue;
  border-radius: 5px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

#question_1{
  position: absolute;
  left: 10px;

}

#question_2, #question_3, #question_4, #question_5, #question_6{
  position: absolute;
  left: -1200px;

}
