.game-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  button {
    font-weight: 400;
    text-transform: capitalize;
    padding: 0.5em 0;
  }
}

.game-page__image-container {
  margin-bottom: 3em;
  img {
    border: $teal-darken-1 solid 2.5em;
    border-radius: 0.2em;
    margin: auto auto;
  }
}

.game-page__button-emoji {
  width: 50%;
  margin-left: 25%;
  margin-bottom: 5%;
}
