.game-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.game-page__button {
  button {
    text-transform: capitalize;
    padding: 0.5em 0;
    font-weight: 400;
  }
}

.game-page__image-container {
  margin-bottom: 5vh;
  margin-top: 1vh;
  img {
    border: $teal-darken-1 solid 5vw;
    border-radius: 0.2em;
    margin: auto auto;
    max-height: 40em;
  }
  @media (min-width: 768px) {
    img {
      border: $teal-darken-1 solid 2vw;
    }
  }
}

.game-page__button-emoji {
  width: 50%;
  margin-left: 25%;
  margin-bottom: 5%;
}

.game-page__image--intro {
  padding: 2em;
}

.game-page__image-container--intro {
  margin-top: 5vh;
}
