.landing-page {
  button {
    margin-top: 8vh;
  }
}

.landing-page__header {
  margin-top: 5vh;
  margin-bottom: 8vh;
  hr {
    margin: 1px;
  }
}

.landing-page__title {
  color: darken($teal-darken-1, 25%);
  font-weight: 700;
  font-size: 5em;
  text-align: center;
  margin-top: 0.1em;
}

.landing-page__logo {
  margin: auto auto;
  @media (min-width: 768px) {
    width: 70%;
  }
  @media (max-width: 768px) {
    width: 50%;
  }
  @media (max-width: 500px) {
    width: 60%;
  }
}

.name-form {
  font-size: 1.8em;
  line-height: 1.8em;
  margin-top: 0.2em;
}
