.level-page {
  width: 100%;
  height: 100%;
  position: relative;
  button {
    margin-bottom: 1em;
  }
  svg {
    width: 95%;
    display: block;
    margin: auto auto;
  }
  @media (max-width: 768px) {
    svg {
      width: 85%;
    }
  }
  @media (max-width: 600px) {
    svg {
      width: 95%;
    }
  }
}

.level-page__conveyer-belts {
  margin-bottom: 5vh;
}

.gear, .gear-reverse {
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
}
