.full-screen-background {
  height: 100vh;
  width: 100vw;
  background-color: $grey-darken-2;
}

.full-screen {
  margin-top: 5vh;
  overflow: scroll;
  height: 90vh;
  border: 1vh $grey-darken-1 solid;
  background-color: $grey;
  @media screen and (max-width: 768px) {
    border: none;
    height: 100vh;
    margin: 0;
  }
}
